aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.6.2.post1
appnope==0.1.3
argcomplete==1.10.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.6.0
asttokens==2.0.5
async-timeout==5.0.1
asyncpg==0.30.0
attrs==21.4.0
backcall==0.2.0
bcrypt==4.3.0
beautifulsoup4==4.8.2
bleach==5.0.1
blis==0.7.9
catalogue==1.0.2
certifi==2022.6.15
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.1.0
click==8.1.8
compressed-rtf==1.0.6
confection==0.0.4
contourpy==1.3.1
crud==0.1
cryptography==40.0.2
cycler==0.12.1
cymem==2.0.7
databases==0.9.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
distro==1.9.0
Django==4.2
dnspython==2.7.0
docx==0.2.4
docx2txt==0.8
ebcdic==1.1.1
ecdsa==0.19.1
email_validator==2.2.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.5.0/en_core_web_lg-3.5.0-py3-none-any.whl#sha256=c8ac64840c1eb3e3ca7bd38bd1e1c48fb0faeb2449d54d01d5ce629af4595775
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz#sha256=06c80936324012d1223291d2af41a5229e746dc2dee8fe31a532666ee3d18aaa
entrypoints==0.4
exceptioms==1.0.0
exception==0.1.0
exceptiongroup==1.2.2
executing==0.8.3
extract-msg==0.28.7
fastapi==0.115.11
fastapi-cli==0.0.7
fastjsonschema==2.15.3
filelock==3.12.0
fonttools==4.57.0
frozenlist==1.5.0
h11==0.14.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.27.2
idna==3.4
IMAPClient==2.1.0
ipykernel==6.15.0
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.1
itsdangerous==2.2.0
jedi==0.18.1
Jinja2==3.1.6
jiter==0.7.1
joblib==1.2.0
jose==1.0.0
jsonschema==4.6.1
jupyter==1.0.0
jupyter-client==7.3.4
jupyter-console==6.4.4
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
kiwisolver==1.4.8
langcodes==3.3.0
lxml==4.9.2
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.10.1
matplotlib-inline==0.1.3
mdurl==0.1.2
mistune==0.8.4
multidict==6.1.0
murmurhash==1.0.9
narwhals==1.34.1
nbclient==0.6.6
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
nlp==0.4.0
nltk==3.8.1
notebook==6.4.12
numpy==1.24.3
olefile==0.46
openai==0.28.0
orjson==3.10.15
packaging==21.3
pandas==2.0.1
pandocfilters==1.5.0
parso==0.8.3
passlib==1.7.4
pathy==0.10.1
pdfminer.six==20191110
pdfplumber==0.9.0
pexpect==4.8.0
phonenumbers==8.13.10
pickleshare==0.7.5
Pillow==9.5.0
plac==1.1.3
plotly==6.0.1
preshed==3.0.8
prometheus-client==0.14.1
prompt-toolkit==3.0.30
propcache==0.3.0
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==12.0.0
pyasn1==0.4.8
pycparser==2.21
pycryptodome==3.17
Pygments==2.19.1
PyMySQL==1.1.1
pynput==1.7.7
pyparsing==3.0.9
PyPDF2==3.0.1
pyresparser==1.0.6
pyrsistent==0.18.1
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.1
python-jose==3.4.0
python-multipart==0.0.20
python-pptx==0.6.21
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.2
pyzmq==23.2.0
qtconsole==5.3.1
QtPy==2.1.0
regex==2023.3.23
requests==2.29.0
resume-parser==0.8.4
rich==13.9.4
rich-toolkit==0.13.2
rsa==4.9
Send2Trash==1.8.0
shellingham==1.5.4
six==1.12.0
smart-open==6.3.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spacy==2.3.9
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SpeechRecognition==3.8.1
SQLAlchemy==2.0.39
sqlparse==0.4.4
stack-data==0.3.0
starlette==0.46.1
stemming==1.0.1
terminado==0.15.0
textract==1.6.5
thinc==7.4.6
tika==2.6.0
tinycss2==1.1.1
tornado==6.1
tqdm==4.65.0
traitlets==5.3.0
typer==0.15.2
typing_extensions==4.12.2
tzdata==2023.3
tzlocal==4.3
ujson==5.10.0
urllib3==1.26.15
uvicorn==0.34.0
uvloop==0.21.0
Wand==0.6.11
wasabi==0.10.1
watchfiles==1.0.4
wcwidth==0.2.5
webencodings==0.5.1
websockets==15.0.1
widgetsnbextension==3.6.1
xlrd==1.2.0
XlsxWriter==3.1.0
xxhash==3.2.0
yarl==1.18.3
